body {
    background-color: #70f8e1;
    color: rgb(0, 97, 243);
    width: 500px;
    margin-right: auto;
    margin-left : auto;
  }
button {
    padding: 5px 20px;
    background-color: #25b3cc;
    border-style: none;
}
input {
    height: 20px;
}
